services:
  db:
    image: mongo
    container_name: "${DB_CONT_NAME}"
    restart: always
    ports:
      - "${DB_PORT}:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME: "root"
      - MONGO_INITDB_ROOT_PASSWORD: "password"

  express:
    image: mongo-express
    container_name: "${EXPRESS_CONT_NAME}"
    restart: always
    ports:
      - "${EXPRESS_PORT}:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME: "admin"
      - ME_CONFIG_MONGODB_ADMINPASSWORD: "password"
      - ME_CONFIG_MONGODB_URL: "mongodb://root:password@db/"
      - ME_CONFIG_MONGODB_SERVER: "animal-crossing"
    depends_on:
      - db

#  backend:
#    container_name: "${BACK_CONT_NAME}"
#    ports:
#      - "${BACK_PORT}:80"
#    depends_on:
#      - db

#  frontend:
#    container_name: "${FRONT_CONT_NAME}"
#    depends_on:
#      - backend
